<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Shopper</title>
  </head>
  <body>
    <h1><%= @shopper.name.capitalize %></h1>
    <form action="/shoppers/<%= @shopper.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label>Name: </label>
      <input type="text" name="name" value="<%= @shopper.name %>">
      <input type="submit" name="edit" value="Edit shopper">
    </form>
  </body>
</html>
