<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create new shopper</title>
  </head>
  <body>
    <h1>Create a new shopper: </h1>
    <form action="/shoppers" method="post">
      <input type="text" name="name">
      <input type="submit" name="submit" value="Create Shopper!">
    </form>
  </body>
</html>
