<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Items Page</title>
  </head>
  <body>
    <h1>Items:</h1>   
    <% @items.each do |item|%>
    <h3><a href="/items/<%=item.id%>"><%=item.name%></h3>
    <%end%>
  </body>
</html>
