<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Item Page:</title>
  </head>
  <body>
    <h1>Item Name: <%=@item.name.capitalize%></h1>
    <br>
    <h2>Item Price: $<%=@item.price%></h2>
<!-- link-in-button for editing item -->
    <button>
      <a href="/items/<%=@item.id%>/edit">Edit this item</a>
    </button>
<!-- button for deleting -->
    <form method="POST" action="/items/<%=@item.id%>">
      <input type="button" name="_method" value="delete">
      <input type="submit" value="Delete this item">
    </form>
  </body>
</html>
